<p>cour-details works!</p>
<div>this is : </div>
<h2 class="text-center font-bold ">
  {{ cour.name}}

</h2>

<div class="cour flex justify-between bg-white text-black-900 ">
  <div class="cour border rounded-lg m-4 p-4">
    <h3 class="font-bold">COUR's</h3>
    <p>
      <a class="color-gray-600" href="{{cour.link}}"> {{ cour.name}} </a>
    </p>
  </div>

  <div class="cour border rounded-lg m-4 p-4">
    <h3 class="font-bold">Td's</h3>
    <p>
      <a class="color-gray-600" href="{{cour.link}}"> {{ cour.name}} </a>
    </p>
  </div>

</div>
