<div class="container bg-gray-200 h-screen">

<nav class="flex justify-between w-5/6  m-auto py-4 ">
  <div class="categories flex justify-between space-x-6">
    <p>logo</p>
    <p>ALG</p>
    <p>ALG</p>
    <p>ALG</p>
    <p>ALG</p>
  </div>
  <div class="account">
    <p>ryan</p>
  </div>
</nav>

<header>
<h2 class="font-bold text-center px-4">Votre Modules</h2>
<div class="modules m-auto w-5/6 mt-6 ">

<router-outlet></router-outlet>

<!-- <app-classes></app-classes> -->
</div>
</header>

</div>
