<div class="container   bg-gray-100 text-gray-700  ">

    <nav class="flex justify-between w-5/6  m-auto py-4 ">
      <div class="categories flex justify-between space-x-6">
        <p><a routerLink="/" routerLinkActive="text-blue-500"> Home</a></p>
        <p><a routerLink="/modules" routerLinkActive="text-blue-500"> Modules</a></p>
        <p><a routerLink="/forum" routerLinkActive="text-blue-500"> Forum</a></p>
      </div>
      <div class="account">
        <p>ryan</p>
      </div>
    </nav>

    <div class="welcome text-center font-bold mt-6 ">
      welcome
    </div>


    <header>
    <h2 class="font-bold text-center px-4">Votre Modules</h2>
    <div class="modules m-auto w-5/6 mt-6 ">

      <router-outlet></router-outlet>
    </div>
  </header>

      <footer class="w-full  bg-gray-700 py-6 mt-10  px-4 text-white ">
        <div class="mx-10">

        <p> Made By Ryan </p>
        </div>
      </footer>

  </div>
