<div *ngIf="classe" class="rounded-lg border">

  <h4 class="font-blod font-xl text-center">{{ classe.name }}  </h4>
  <div class="text-center progress mx-10">progresse :


    <mat-progress-bar mode="determinate" value="{{ classe.progress}}"></mat-progress-bar>


  </div>
  <div class=" border vorder-rounded bg-white p-6 m-2">
    <div class="border-b-2 border-blue-500 ">

      <p class="pb-4 text-center font-bold">Cahpter 1 </p>
    </div>

    <div class="chapters space-y-4 ml-4 mt-4 text-gray-700">

      <div class="" *ngFor="let cour of cours ">

        <app-cour (onChange)="courTerminer(cour)" [cour]="cour"></app-cour>
      </div>

    </div>

    <div class="border-b-2 border-blue-500">

      <p class="pb-4 text-center">Cahpter 2 </p>


    </div>



  </div>

  <a routerLink="/modules">go BACK</a>
</div>
